# PHP / Apache
*.log
.htpasswd

# SQLite DB (generada en runtime)
data/*.sqlite
data/*.sqlite-journal
data/*.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
